<div class="admin-finanzas-container">
  <header class="calc-header">
    <h1>👨‍🍳 Ganancia Neta</h1>
    <p>Calcular costos según ventas</p>
  </header>

  <div class="calc-grid">
    <!-- SECCIÓN DE COMPRAS -->
    <div class="card">
      <div class="card-header">
        <h3>🛒 Materias Primas</h3>
        <button class="btn-add-row" (click)="agregarInsumo()">+ Añadir</button>
      </div>
      <div *ngFor="let item of insumos(); let i = index" class="editable-row">
        <input [(ngModel)]="item.nombre" placeholder="Ej: Harina" />
        <input type="number" [(ngModel)]="item.costo" placeholder="$" />
        <button class="btn-del" (click)="eliminarInsumo(i)">×</button>
      </div>
      <div class="subtotal-row">
        Total Compras: {{ totalInsumos() | currency: 'USD' : 'symbol' : '1.0-0' }}
      </div>
    </div>

    <!-- SECCIÓN DE PRODUCCIÓN -->
    <div class="card">
      <div class="card-header">
        <h3>🍔 Unidades Producidas</h3>
        <button class="btn-add-row" (click)="agregarProducto()">+ Añadir</button>
      </div>
      <div *ngFor="let prod of produccion(); let i = index" class="editable-row">
        <input [(ngModel)]="prod.nombre" placeholder="Ej: Salchipapa" />
        <input type="number" [(ngModel)]="prod.unidades" placeholder="Unds" />
        <button class="btn-del" (click)="eliminarProducto(i)">×</button>
      </div>
      <div class="subtotal-row">Total Unidades: {{ totalUnidades() }}</div>
    </div>

    <!-- SECCIÓN DE Balance dia -->

    <div class="card summary-card highlight">
      <h3>📊 Balance del Día</h3>
      <div class="form-group">
        <label>Ventas totales del día ($)</label>
        <div class="input-modern">
          <span>$</span>
          <input type="number" [(ngModel)]="ventasTotalesDia" placeholder="0" />
        </div>
      </div>

      <div class="results-box">
        <div class="res-item">
          <span>Costo real por unidad:</span>
          <strong>{{ costoPorUnidad() | currency: 'USD' : 'symbol' : '1.0-0' }}</strong>
        </div>
        <div class="res-item main" [ngClass]="gananciaNetaDia() >= 0 ? 'plus' : 'minus'">
          <span>GANANCIA NETA:</span>
          <h2>{{ gananciaNetaDia() | currency: 'USD' : 'symbol' : '1.0-0' }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
